.modal
  margin: 2.8rem
  border: 1px solid rgba(234, 236, 240, 1)
  &__input
    width: 27.8rem!important
    margin: 16px
  &__btnEdit
    display: flex
    justify-content: space-between
    align-items: center
  &__btn
    display: flex
    justify-content: flex-end
    &_add
      background: rgba(18, 22, 128, 1)
    &_cancel
      background: rgba(229, 231, 255, 1)
      color: rgba(18, 22, 128, 1)
    &_delete
      background: rgba(244, 63, 94, 1)
    &_mini
      display: flex
@media (max-width: 450px)
  .modalExtraClass
    width: 30.8rem!important
    //padding: 3.4rem!important
    padding: 2rem 0
  .modal
    width: 25rem!important
    &__input
      width: 20rem!important
  .def_img
    width: 25rem

    //margin:
