@import "app/styles/abstracts/variables"

.profile
  width: 100%
  height: fit-content
  padding: 3rem
  display: grid
  grid-gap: 2rem
  grid-template-areas: "info outlet"
  grid-template-columns: 380px auto

  &__mainContent
    display: grid
    grid-gap: 2rem
    grid-template-areas: "teacher teacher rating" "reward subject subject" "attendance attendance attendance"
    grid-template-columns: auto auto auto

    &.active
      display: none

  &__otherContent
    display: none

    &.active
      display: flex
