@import "app/styles/abstracts/variables"

.leadProfile
  width: 100%
  height: 100vh
  position: fixed
  background-color: rgba(0, 0, 0, 0.59)
  backdrop-filter: blur(10px)
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  .container
    width: 90%
    height: 90%
    border-radius: 10px
    padding: 2rem
    background-color: #f8f8f8
    overflow: auto

    .header
      width: 100%
      display: flex
      flex-direction: column
      gap: 2rem
      margin-bottom: 3rem
      h1
        font-size: 2.5rem
        font-weight: 700
      .status
        display: flex
        align-items: center

        &__item
          flex-grow: 1
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          cursor: pointer
          &:hover
            &.red
              background-color: red
            &.yellow
              background-color: #ff8800
            &.green
              background-color: green
          &.active
            color: white
            &:first-child
              border-radius: 37px 0 0 37px
            &:last-child
              border-radius: 0  37px 37px 0
            &.red
              background-color: red
            &.yellow
              background-color: #ff8800
            &.green
              background-color: green

          &.red
            border-top: 5px solid red

          &.yellow
            border-top: 5px solid #ff8800

          &.green
            border-top: 5px solid green
        &__title
          font-size: 1.8rem
          padding: 1rem
    .wrapper
      width: 100%
      display: flex
      align-items: flex-start
      gap: 2rem
      .info
        width: 50%
        background-color: white
        display: flex
        flex-direction: column
        padding: 1rem
        border-radius: 10px
        &__header
          display: flex
          align-items: flex-start
          justify-content: space-between
          padding: 1rem 0
          border-bottom: 2px solid #d7d7d7
          h2
            font-weight: normal
            cursor: pointer
            text-decoration: underline
            user-select: none
        &__wrapper
          display: flex
          flex-direction: column
          gap: 2rem
          padding: 2rem 0
        &__item
          display: flex
          flex-direction: column
          gap: .5rem
          h1
            font-weight: normal
            font-size: 1.4rem
          h2
            font-weight: normal
            font-size: 2rem

      .tasks
        width: 50%
        background-color: white
        min-height: 50rem
        display: flex
        flex-direction: column
        align-items: center
        padding: 1rem
        &__wrapper
          width: 100%
          height: 70%
          flex-grow: 1
          display: flex
          flex-direction: column
          align-items: center
          gap: 2rem
          padding: 2rem
          .task
            width: 85%
            background-color: #f3f3f3
            //box-shadow: $box-shadow
            border-radius: 15px
            padding: 2rem
            &__header
              display: flex
              align-items: center
              justify-content: space-between
              margin-bottom: 1rem
              h1
                font-size: 1.7rem
              .change
                background-color: $color-school-main
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                width: 3rem
                height: 3rem
                fill: black
            &__footer
              margin-top: 1rem
              display: flex
              justify-content: flex-end
              align-items: center

            .comment
              font-size: 1.5rem

        &__form
          width: 95%
          display: flex
          border-radius: 10px
          border: 1px solid #8c8c8c
          position: relative
          padding: 2rem
          form
            display: flex
            flex-direction: column
            gap: 1.5rem
            width: 100%
          .date
            position: absolute
            width: 18rem
            border: 1px solid $color-grey-dark
            padding: 1rem
            border-radius: 10px
            top: 1rem
            right: 1rem
          .title
            width: 35rem
            border: none
            outline: none
            font-size: 1.7rem
          textarea
            border: none
            outline: none
            font-size: 1.6rem
            resize: none
            height: 5rem
          hr
            width: 100%