
.changeInfo

  form
    display: flex
    flex-direction: column
    gap: 1rem
    height: 70vh
    overflow: auto
    padding: 2rem
    select
      width: 35rem!important


.seria
  display: flex
  gap: 3rem
  input
    width: 15rem!important