@import "app/styles/abstracts/variables"

thead
  position: sticky
  top: -29px
  z-index: 100
.mainContainer_tablePanelBox
  position: relative
  //display: flex
  gap: 4rem

.table
  &__box
    display: flex
    //flex-direction: column
    box-shadow: 0 0 5px 0
    padding: 20px
    border-radius: 5px
    width: 35rem
    h2
      text-transform: capitalize
      font-size: 2rem
      color: #7F7F7F
      padding: 15px 0
    .img
      width: 50px
      height: 50px

.link
  width: 100%

.xmark
  color: $error-color

//
//.thead
//  position: fixed
//  width: 100%
//  top: 0