
.navigators
  display: flex
  gap: 3rem

  .navigatorsItem
    height: 14.8rem
    width: 36rem
    display: flex
    padding: .8rem
    border-radius: 1rem
    box-shadow: 0 .4rem .4rem -.1rem #0C0C0D1A
    border-left: 1.6rem solid #3B82F6
    align-items: center
    position: relative

    &__link
      min-width: 40%
      font-size: 1.6rem
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 1rem
      padding: 1.5rem
    &__border
      height: 4.4rem
      width: .1rem
      background-color: #64748B

    &__icon
      font-size: 5rem
      color: #3B82F6
    &__info
      width: 60%
      padding: 1rem
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      gap: .5rem
    &__image
      width: 6.2rem
      height: 6.2rem
    &__subject
      padding: .2rem .7rem
      border: .1rem solid #86EFAC
      background-color: #DCFCE7
      color: #22C55E
      border-radius: 5rem
      font-size: 1.3rem
    &__plus
      position: absolute
      bottom: 1rem
      right: 2rem
      border-radius: 50%
      border: .3rem solid #00C2FF
      color: #00C2FF
      padding: .2rem .5rem
      cursor: pointer
