@import "app/styles/abstracts/variables"


.leads
  width: 100%
  height: 100%
  padding: 2rem
  display: flex
  flex-direction: column
  gap: 2rem
  flex-grow: 1
  .header
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 2px solid $color-grey-dark
    &>div
      display: flex
      align-items: center
      gap: 2rem

  .wrapper
    width: 100%
    height: 95vh
    flex-grow: 1
    padding: 1rem
    display: flex
    gap: 2rem
    overflow: auto

