.empSalary
  height: calc(100vh - 46rem)
  overflow: auto
  .cash
    border: 1px solid
    width: fit-content
    padding: 10px 20px
    border-radius: 10px
    cursor: pointer

.modalHeader
  color: #6B7280
  font-size: 1.6rem
  font-weight: bold
.deletemodal
  padding: 2rem 8rem
  display: flex
.changeType
  padding: 2rem
  display: flex
  flex-direction: column
  gap: 2rem
  select
    width: 30rem!important
  button
    align-self: flex-end!important