
.header
  display: flex
  flex-direction: column
  gap: 2rem

  &__container
    display: flex
    justify-content: space-between

    .inner
      display: flex
      align-items: center
      gap: 2rem

      &__btn
        border: none

      .active
        color: #001B61