@import "app/styles/abstracts/variables"

.principal
  display: flex
  flex-direction: column
  gap: 3rem
  padding: 5rem 0
  &__header
    display: flex
    flex-direction: column
    gap: 2rem
    .title
      color: $newSchool-bg
      font-size: 4rem
      font-weight: 500
    .subTitle
      color: $newSchool-blur-color
      font-size: 1.6rem
      width: 60rem
      font-weight: 400
  &__container
    display: flex
    justify-content: space-between
    gap: 2rem
    .card
      display: flex
      flex-direction: column
      gap: 1.5rem
      &__header
        padding-bottom: 1.5rem
        position: relative
        .info
          position: absolute
          bottom: 0
          left: 3rem
          color: #FFFFFF
          padding: .85rem .5rem
          background: $btn-success
          border-radius: 1.2rem
        .image
          height: 35rem
          width: 100%
          border-radius: 1.5rem
      &__title
        font-size: 2.4rem
        font-weight: 600
      &__text
        font-size: 1.3rem
        font-weight: 400
        color: #666666
@media (min-width: 1920px)
  .principal
    width: 150rem
@media (max-width: 1240px)
  .principal
    &__container
      flex-wrap: wrap
  .card
    width: 48%
    .image
      height: 30rem!important


@media (max-width: 900px)
  .card
    .image
      height: 25rem!important
@media (max-width: 700px)
  .subTitle
    width: 100%!important
  .card
    width: 100%
    .image
      height: 30rem!important