.formMain
  padding: 2rem
  display: flex
  justify-content: center
.contractMain
  width: 50%
  height: auto
  display: none
  align-items: center
  margin-left: 25%
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px
  &.active
    display: flex

  .btn
    display: flex
    flex-direction: column
    width: 100%
    gap: 10px

.fileDrop
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px
  padding: 20px
  text-align: center
  cursor: pointer
  display: flex
  align-items: center
  width: 100%
  flex-direction: column
  gap: 10px
  margin-top: 20px

.contractLink
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px
  padding: 20px
  text-align: center
  cursor: pointer
  display: flex
  align-items: center
  width: 100%
  flex-direction: column
  gap: 10px
  margin-top: 20px
  button:hover
    color: white
    background: #6ea4d7 !important





