
.filter
  display: flex
  flex-direction: column
  gap: 3rem
  padding: 3rem
  width: calc(100rem - 33rem)
  height: calc(100rem - 20rem)
  &__container
    display: flex
    flex-direction: column
    gap: 2rem
    height: 93%
    font-size: 1.6rem