
$icon-main-light: #7ed8ff

$btn-gennis: #00abf6
$btn-danger: #F43F5E
$btn-success: #22C55E
$btn-warning: #EAB308
$color-main-light: #1ebaff

$color-main-dark: #00C2FF
$color-main-light: #8DE3FE
$color-grey-dark: #575757
$color-grey-dark: #1a222c

$search-background: #E0F2FE
$main-font-color: #49454F
$main-border-color: #D9D9D9
$error-outline-color: rgba(241, 92, 92, 0.41)
$error-color: #ff3737
$white-main-color: #fff
$gennis-back-color: #00C2FF
$other-back-white-color: #d2d2d2
$color-main-bg: #EAEBEF
$color-white-sharp: #F3F4F6
$color-border: #D1D5DB
$color-fonts: #6B7280

$color-danger: #ff1919
$color-warning: #ff8c19
$color-success: #3fb730
$color-search-bg: #d3d3d3
$color-success-bg: #F9FAFB
$color-warning-bg: #fff3cd

$btn-gennis: #00abf6
$btn-danger: #F43F5E
$btn-success: #22C55E
$btn-warning: #EAB308
$color-main-light: #1ebaff
$btn-switch-school: #001B61
$btn-switch-school-gr: #1A2D60
$btn-switch-center: #00C2FF
$btn-switch-center-gr: #0EA5E9

$appHeader-height: 13rem
$appMenu-width: 25rem


$paymetns-color-green: #24FF00
$paymetns-color-red: #FF3B30
$paymetns-color-yellow: #FACC15
$paymetns-color-black: black

$color-error-bg: #F43F5E
$color-school-main: #001B61FF



$newSchool-color: #CAA77F
$newSchool-bold-color: #02033B
$newSchool-blur-color: #878C91
$newSchool-grey-color: #8E8E93

$newSchool-bg: #072E92
$newSchool-icon-bg: #AEAEB2
$newSchool-box-bg: #CAA77F



$box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 14px 0 rgba(0, 0, 0, 0.10), 0 25px 25px 0 rgba(0, 0, 0, 0.09), 0 56px 33px 0 rgba(0, 0, 0, 0.05), 0 99px 40px 0 rgba(0, 0, 0, 0.01), 0 155px 43px 0 rgba(0, 0, 0, 0.00)
