.modal
  margin: 2.8rem
  border: 1px solid rgba(234, 236, 240, 1)
  &__input
    width: 27.8rem!important
    margin: 16px
  &__btn
    display: flex
    justify-content: space-between
    &_mini
      display: flex
    &_add
      background: rgba(18, 22, 128, 1)
    &_cancel
      background: rgba(229, 231, 255, 1)
      color: rgba(18, 22, 128, 1)
    &_delete
      background: rgba(244, 63, 94, 1)
      color: rgba(231, 231, 231, 1)
      font-size: 1.4rem