//.accounting
//  &__wrapper
//    display: flex
//    flex-direction: column
//    gap: 3rem
//    .wrapper__filter
//      display: flex
//      justify-content: space-between
//    .wrapper__middle
//      display: flex
//      justify-content: space-between
//      .middle__box
//        display: flex
//        gap: 2rem
//        & > div
//          width: fit-content
//          padding: 1rem
//          border-radius: 10px
//          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
//          font-size: 1.6rem
//          text-transform: capitalize
//          cursor: pointer
//          transition: all .2s
//          &:hover
//            //background: #00C2FF
//            //color: #FFFFFF
//            box-shadow: 0 0 3px 0#00C2FF
//      .typeExpenses
//        display: flex
//        gap: 2rem
//        align-items: center
//        color: #7F7F7F
//        label
//          margin: 0!important
//        & > div
//          cursor: pointer
//          font-size: 1.6rem
//          display: flex
//          align-items: center


.accountingMain
  display: flex
  justify-content: flex-end!important
  align-items: center

.accounting
  display: flex

  align-items: flex-end!important
  flex-direction: column


  &__payment, &__header
    display: flex
    gap: 2rem
//.radio
//  color: #00C2FF
  