
.pageStyle
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #f0f8ff
  color: #333
  gap: 30px
  margin: 0
  box-sizing: border-box
  width: 100vw
  height: 100vh

  text-align: center
  font-family: Arial, sans-serif

.headerStyle
  font-size: 6rem
  margin: 0

.messageStyle
  font-size: 1.5rem

.shape1Style
  top: 10%
  left: 20%
  background-size: cover

  &__image
    width: 30rem

.shape2Style
  top: 50%
  right: 20%