.form
  width: 70rem
  box-shadow: 0 0 4px -2px #0C0C0D, 0 0 3px 0px
  padding: 2rem
  border-radius: 10px
  form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .btn
      min-width: 25rem !important