.teacher
  padding: 30px 20px
  gap: 2rem
  display: flex
  flex-direction: column
  &__header
    display: flex
    justify-content: space-between
    .header__btn
      display: flex
  &__filter
    display: flex
    justify-content: space-between
    .header_btn
      display: flex
  .table
    overflow: auto
    height: calc(100vh - 38rem)
    display: flex
    flex-direction: column
    gap: 3rem
    h2
      color: #0EA5E9
      font-size: 1.8rem
//    &__head
//      tbody
//        tr
//          cursor: pointer
//          td:last-child
//            border: 1px solid
//            display: flex
//            align-items: center
//            justify-content: center
//            border-radius: 15px
//            height: 4rem
//            width: fit-content
//            margin: 5px 0

.category
  align-self: flex-end
.categoryItem
  padding: 2rem