
.change
  display: flex
  flex-direction: column
  gap: 2rem
  &__input
    margin: 0 !important
  &__boxes
    display: flex
    justify-content: space-around
  &__inner
    display: flex
    gap: 1rem
    align-items: center
    p
      font-size: 1.8rem
  &__btn
    align-self: flex-end