.school
 height: 90vh
 gap: 2rem
 display: flex
 justify-content: center
 flex-direction: column
 padding-left: 10rem
 .title
  color: #ffffff
  font-size: 5rem
  font-weight: bolder
 .descr
  font-size: 1.8rem
  color: #FFFFFF
  width: 70%
.box_main
 display: flex
 gap: 2rem
 justify-content: space-around
 padding: 5rem
 flex-wrap: wrap
.box
 display: flex
 flex-direction: column

 align-items: center
@media (max-width: 1000px)
 .school
  .descr
   width: 80%
@media (max-width: 850px)
 .school
  align-items: center
  padding-left: 0
  .descr
   width: 90%
   text-align: center
   font-size: 1.6rem