.change
  min-width: 40rem
  display: flex
  flex-direction: column
  gap: 2rem
  font-size: 1.1rem
  &__header
    display: flex
    align-items: center
    gap: 2rem
  &__btn
    margin: 0 !important
  &__form
    display: flex
    flex-direction: column
    gap: 2rem
  &__extraClass
    width: 100% !important
    margin: 0 !important