.info
  min-height: 60rem
  min-width: 46rem
  border: 1px solid #DCDCDC
  border-radius: 3rem
  box-shadow: 0 16px 16px -8px #0C0C0D1A
  padding: 3rem 6rem
  display: flex
  flex-direction: column
  gap: 3rem
  &__container
    display: flex
    flex-direction: column
    align-items: center
    gap: 2rem
    font-size: 1.5rem
  &__avatar
    width: 14rem
    height: 14rem
    border-radius: 50%
  &__role
    width: fit-content
    background-color: #CFF6CC
    border: 1px solid #B0F0AA
    color: #11D300
    padding: .2rem .8rem
    border-radius: 5rem
  &__btn
    width: 34rem
    margin: 0
  .infos
    display: flex
    flex-direction: column
    gap: 1rem
    &__item
      border: 1px solid #D1D5DB
      padding: 1rem 1.2rem
      font-size: 1.5rem
      display: flex
      flex-direction: column
      gap: .7rem
      border-radius: .5rem
    &__title
      color: #9CA3AF
    &__value
      color: #6B7280
    &__wrapper
      display: flex
      justify-content: space-between
