@import "app/styles/abstracts/variables"

.calendar
  width: 100%
  padding: 4rem 0
  display: flex
  flex-direction: column
  gap: 3rem
  &__header
    display: flex
    flex-direction: column
    gap: 2rem
    .title
      font-size: 4rem
      font-weight: 500
      color: $newSchool-bg
    .desc
      font-size: 1.6rem
      font-weight: 400
      color: $newSchool-blur-color
  &__slider
    display: none
    justify-content: space-between
    align-items: center
    .title
      font-weight: 500
      font-size: 1.4rem
    .bars
      display: flex
      gap: 1rem
      &__inner
        font-size: 2rem
        padding: .75rem 1.4rem
        border-radius: 50%
        background: #F5F5F5
  &__container
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 2rem
    .container
      display: flex
      background: white
      border: 1px solid #ccc
      border-radius: 4px
      overflow: hidden
      width: fit-content

    .calendarSub
      padding: 1rem
      border-right: 1px solid #ddd
      gap: 1rem

    .header
      background-color: #001f60
      color: white
      text-align: center
      padding: 0.5rem
      font-weight: bold
      margin-bottom: 0.5rem
      font-size: 2rem

    .grid
      display: grid
      grid-template-columns: repeat(7, 2.5rem)
      gap: 1rem

    .cell, .day
      display: flex
      justify-content: center
      align-items: center
      height: 2.5rem
      border-radius: 4px
      //font-size: 0.9rem
      font-size: 1.4rem

    .day
      font-weight: bold

    .cell
      background-color: white

    .selected
      background-color: #001f60
      color: white
      font-weight: bold

    .grey
      background-color: #eee

    .rightPanel
      padding: 1rem
      background-color: #f6f6f8
      width: 30rem

    .rightPanelTitle
      font-weight: bold
      font-size: 2rem
      border-bottom: 1px solid
      padding-bottom: .5rem
      margin-bottom: 1rem

    .importantDate
      font-size: 1.6rem

    .highlight
      font-weight: bold

@media (min-width: 1920px)
  .calendar
    width: 150rem
    &__container
      justify-content: space-around


@media (max-width: 430px)
  .calendar
    gap: 2.5rem
    &__slider
      display: flex
    &__header
      gap: 2.5rem
      .title
        text-align: center
        font-size: 2rem
        font-weight: 600
        color: #000
      .desc
        font-size: 1.2rem
        font-weight: 400
        color: #001B61
    &__container
      .container
        flex-direction: column
      .grid
        justify-content: center
        gap: .5rem 1rem



