.table__head
  tbody
    tr
      td:last-child
        div
          display: flex
          align-items: center
          justify-content: center
          width: 30px
          height: 30px
          border-radius: 50%
          background-color: rgba(36, 255, 0, 0.37)
          div
            transform: translate(0.5px)
            width: 15px
            height: 15px
            background-color: #24FF00
        .red
          display: flex
          align-items: center
          justify-content: center
          width: 30px
          height: 30px
          border-radius: 50%
          background-color: rgba(255, 0, 0, 0.37)
          &__inner
            transform: translate(0.5px)
            width: 15px
            height: 15px
            background-color: #ff0000