.dayModal
  width: 50rem
  padding: 3rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 2rem

.btns
  display: flex
  align-items: center
  justify-content: center