.mainContainer
  padding: 10px 20px
  &_buttonPanelBox
    display: flex
    justify-content: space-between
    &_leftCreateButton
      display: flex
  &_filterPanelBox
    display: flex
    gap: 3rem

    &_rightFilterRadioGroupBox
      display: flex
      align-items: center
      justify-content: end
      gap: 2rem
      width: 80%

      .activeFilter
        color: var(--btn-bg-color)
