@import "app/styles/abstracts/variables"
.champions
  display: flex
  flex-direction: column
  padding: 6rem 15rem
  gap: 6rem

  &__title
    display: flex
    justify-content: space-between

    h1
      color: $btn-switch-school
      font-size: 3.2rem
      font-weight: 700

  &__locations
    display: flex
    gap: .8rem

    span
      background: var(--Background-Brand-Tertiary, #F5F5F5)
      color: #757575
      padding: .8rem
      border-radius: .8rem
      font-size: 1.6rem
  &__wrapper
    display: flex
    gap: 2rem
    flex-wrap: wrap
    margin-top: 2rem
    &_box
      border: 1px solid rgba(234, 236, 240, 1)
      width: 31rem
      &_img
        width: 100%
        img
          width: 100%
          object-fit: cover
      &_info
        padding: 1.6rem
        display: flex
        flex-direction: column
        gap: 2.3rem
        &_name
          color: rgba(40, 40, 40, 1)
          font-size: 1.8rem
          font-family: "Blinker", sans-serif
          font-weight: 700
        &_job , &_descr
          color: rgba(62, 62, 89, 1)
          font-family: "Blinker", sans-serif
          font-weight: 400
          font-size: 1.5rem
        &_descr
          color: rgba(95, 105, 128, 1)

@media (max-width: 900px)
  .champions
    padding: 3rem
@media (max-width: 800px)

  .champions
    padding: .5rem
    &__title
      padding: 2rem
    &__locations
      display: none
    &__wrapper
      &_box
        width: 24rem
@media (max-width: 510px)
  .champions
    padding: .5rem
    &__title
      padding: 2rem
    &__locations
      display: none
    &__wrapper
      justify-content: center
      &_box
        width: 95%