@import "app/styles/abstracts/variables"
.registerBtn
  width: 350px !important
.login
  width: 100%
  height: auto
  padding: 3rem
  display: flex
  gap: 2rem
  align-items: center
  flex-direction: column
  &__boxes
    background-color: white
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 14px 0 rgba(0, 0, 0, 0.10), 0 25px 25px 0 rgba(0, 0, 0, 0.09), 0 56px 33px 0 rgba(0, 0, 0, 0.05), 0 99px 40px 0 rgba(0, 0, 0, 0.01), 0 155px 43px 0 rgba(0, 0, 0, 0.00)
    padding: 2rem
    display: flex
    width: 70%
    border-radius: 0.5rem
    &__login__box
      text-align: center
      width: 50%

    &__box
      display: grid
      grid-template-rows: 80px 165px
      padding-top: 30px
      &__headerTitle
        margin-bottom: 10px
        text-transform: capitalize
      &__form
        form
          display: flex
          flex-direction: column
          justify-content: space-around
          height: auto
          align-items: center
          gap: 2rem
          transform: translateX(-3rem)
          //div
          //  display: flex
          //  text-transform: capitalize


  &__aside
    background-color: #bae6fd
    border-radius: 10px
    width: 50%
    display: flex
    align-items: center
    justify-content: center
    &__img
      width: 30rem
      object-fit: cover
      filter: contrast(100%)

.selection
  align-self: end
  transform: translateX(-31rem)
.extraClasss
  width: 100vw

.extraClasses
  width: 350px
.multiSelect
  width: 350px
  display: block !important
  //flex-direction: column
.resume
  display: flex
  flex-direction: column
  gap: 2rem
  &__input
    border: none
.mess
  font-size: 16px

.errorMess
  color: #f15c5c
  display: flex
  gap: 5px
  font-size: 16px
.successMess
  color: $color-success
  font-size: 16px
  display: flex
  gap: 5px

.seriya
  gap: 3rem
  display: flex
  input
    width: 16rem !important
