@import "app/styles/abstracts/variables"
.filter
  display: flex
  //flex-direction: column
  gap: 3rem
  padding: 4rem
  align-items: center
  overflow: hidden
  max-width: 1200px
  width: 100%
  overflow-x: scroll

  //&__title
    ali

  &__container
    display: flex
    flex-direction: column
    gap: 2rem
    font-size: 1.6rem

  &__select
    width: 100% !important

  &__age
    display: flex
    gap: 2rem

  &__input
    width: 200px !important
    margin: 0 !important
  //padding: 0 !important

  &__status
    display: flex
    gap: 3rem
    justify-content: center

  &__inner
    display: flex
    align-items: center
    gap: .5rem
    color: #22C55E

  &__radio
    margin: 0 !important
    color: #22C55E !important

  .yellow
    color: #EAB308 !important

  .red
    color: #F43F5E !important

  &__switch
    display: flex
    justify-content: space-between
    align-items: center

.buttonStyle
  background: #49454F

.deleteHead
  width: 100%
  height: 20px
  display: flex
  align-items: center
  gap: 20px
  h1
    font-size: 26px
//padding: 4rem

.deleteText
  width: 100%
  height: 20px
  display: flex
  align-items: center
  h2
    font-size: 21px
    margin-left: 5rem
.deleteButtons
  width: 100%
  height: auto
  display: flex
  align-items: center
  justify-content: end
  gap: 10px

.deleteButton
  background: $error-color

.cancelButton
  background: $error-outline-color
.dropzone
  border-radius: 10px
  width: 340px
  height: 240px
  justify-content: center
  background: $main-border-color
  display: flex
  overflow: hidden
  object-fit: cover
  align-items: center

.imagePreview
  width: 340px
  height: 240px
  object-fit: cover


.plusButton
  width: 40px
  height: 40px
  background: $main-border-color
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  font-size: 20px

.buttonPanel
  width: 100%
  height: 50px
  display: flex
  align-items: end
  justify-content: end

.filterHandler
  width: auto
  gap: 3rem
  align-items: center
  display: flex

