.filter
  &__wrapper
    ul
      display: flex
      gap: 5rem
      flex-wrap: wrap

    li
      border-radius: 10px
      list-style: none
      display: flex
      //background: #EFF6FF
      padding: 2rem
      cursor: pointer
      flex-direction: column
      align-items: center
      justify-content: center
      font-weight: bolder
      font-size: 1.6rem
      position: relative
      color: var(--btn-bg-color)
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0
      //&.active:before
      //  content: ""
      //  display: block
      //  width: 100%
      //  height: 5px
      //  left: 0
      //  border-radius: 5px 5px 0 0
      //  background: #001B61
      //  position: absolute
      //  bottom: -2rem
      //&.blue
      //  color: #0EA5E9
      //&.green
      //  color: green