.app_center_theme
  --pagination-bg-color: #00C2FF
  --thead-bg-color: #E0F2FE
  --radio-color: #00C2FF
  --form-button-bg-color: #00C2FF
  --balance-card-bg-color: #00C2FF
  --balance-p-color: #082F49
  --btn-bg-color: #00abf6
  --btn-border-color: #008ac6
  --salary-border-color: #11abb9
