.app_school_theme
  --pagination-bg-color: #001B61
  --thead-bg-color: #E0E7FF
  --radio-color: #001B61
  --form-button-bg-color: #001B61
  --balance-card-bg-color: rgb(0, 27, 97)
  --balance-p-color: white
  --btn-bg-color: #001B61
  --btn-border-color: rgba(255, 255, 255, 0)
  --salary-border-color: #113EB9
