.attendance
  height: fit-content
  grid-area: attendance
  display: flex
  flex-direction: column
  gap: 2rem
  font-size: 1.6rem
  &__contauner
    max-height: 25rem
    overflow: auto
    .days
      //width: fit-content
      font-size: 1.3rem
      display: flex
      flex-direction: column
      align-items: center
      p
        color: gray