@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

.taskManager
  display: flex
  flex-direction: column
  align-items: center
  width: 30%
  justify-content: space-between
  //height: 100%
  padding: 1rem
  &__rating
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    & > h1
      color: rgba(113, 113, 113, 1)
      font-family: "Funnel Sans", sans-serif
      font-optical-sizing: auto
      font-weight: 400
      font-size: 3rem
      font-style: normal
    &_box
      width: 20rem
      height: 20rem
      background-color: rgba(255, 255, 255, 0.5)
      box-shadow: 0 9.2px 59px 0 rgba(0, 0, 0, 0.25)
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center

