.header

  display: flex
  flex-direction: column
  gap: 2rem
  &__branch
    align-self: flex-end
  &__btn
    display: flex
    justify-content: space-between
    align-items: center

.changeColorItem
  padding: 2rem
  display: flex
  flex-direction: column
  gap: 2rem
  h2
    font-size: 2rem
    text-transform: capitalize
  .modalBox
    width: 30px
    height: 30px
  & > div
    display: flex
    gap: 2rem
    //align-items: center
