.capitalInside
  padding: 2rem
  display: flex
  flex-direction: column
  gap: 3rem


.items__item
  width: 35rem
  height: 40rem
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(104, 104, 104, 0.42)
  font-size: 40px
  gap: 20px
  border-radius: 10px

  img
    width: 100%
    height: 100%

.form
  display: flex
  width: 35rem !important
  flex-direction: column
  justify-content: center
  select
    width: 35rem!important
    margin-bottom: 10px

  input
    width: 35rem !important

.btn
  align-self: flex-end
