
.ratingListItem
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  font-size: 1.6rem
  &__progress
    width: 17rem
    height: 17rem
    border: .1rem solid
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
