.main
  width: 100%
  height: 100%
  display: flex
  padding-top: 13rem
  padding-left: 2rem
  padding-right: 2rem
  overflow: hidden
  flex-direction: column
  gap: 3rem
  background: #FDFDFD
  align-items: center
  &__btn
    align-self: start
    &:hover
      background: #00c2ff
      box-shadow: none
      color: white
  //padding: 1rem
  &__header
    width: 100%
    height: 60%
    padding: 2rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 2rem
    user-select: none
    align-items: center
    &__card
      width: min(320px)
      padding: 2rem
      //flex-shrink: 0
      height: 200px
      border-radius: 3rem
      display: flex
      align-items: center
      gap: 2rem
      &__leftSide
        width: 100%
        display: flex
        //padding-left: 3rem
        flex-direction: column
        gap: 2rem
        h1
          font-size: clamp(2.4rem, calc(8% - 2rem), 3rem)
          color: white
          font-family: "Montserrat", sans-serif
        h2
          font-size: 2rem
          color: white
          letter-spacing: .1rem
          font-family: "Montserrat", sans-serif
      &__rightSide
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        padding-left: 1rem
        &__circle
          width: 9rem
          height: 9rem
          border-radius: 50%
          background: #FFFFFF
          display: flex
          align-items: center
          justify-content: center
  &__center
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    gap: 4rem
    align-items: center
    //padding: 1em
    &__card
      width: fit-content
      height: 100%
    span
      font-size: 2rem
      font-family: "Montserrat", sans-serif
      div
        font-size: 3rem
  &__chart
    width: 100%
    display: flex
    flex-direction: column
    span
      font-size: 2rem



.MuiPopper-root
  font-size: 10rem !important

@media screen and (max-width: 1440px)
  .main
    &__center
      justify-content: center
      flex-wrap: wrap
      &__card
        width: 50%
        display: flex
        padding: 1rem

        align-items: center
        justify-content: center
      &__cards
        width: 40%
        display: flex
        padding: 1rem
        align-items: center
        justify-content: center

