.schoolHome
  width: 100%
  height: fit-content
  display: flex
  flex-direction: column
  position: relative
  &__header
    width: 100%
    min-height: 100vh
    //background: linear-gradient(0deg, #111F4C 0%, #072E92 100%)