@import "app/styles/abstracts/variables"
.filter
  display: flex
  align-items: center
  height: 70rem
  justify-content: space-around
  flex-wrap: wrap
  gap: 3rem
  overflow: hidden
  width: 90rem

  //&__title
    ali

  &__container
    display: flex
    flex-direction: column
    gap: 2rem
    font-size: 1.6rem

  &__select
    width: 100% !important

  &__age
    display: flex
    gap: 2rem

  &__input
    width: 200px !important
    margin: 0 !important
  //padding: 0 !important

  &__status
    display: flex
    gap: 3rem
    justify-content: center

  &__inner
    display: flex
    align-items: center
    gap: .5rem
    color: #22C55E

  &__radio
    margin: 0 !important
    color: #22C55E !important

  .yellow
    color: #EAB308 !important

  .red
    color: #F43F5E !important

  &__switch
    display: flex
    justify-content: space-between
    align-items: center
.roomImages
  width: 560px
  height: 560px
  object-fit: cover
  box-shadow: 0 0 10px 3px #00000231

.carouselBox
  width: 560px
  height: 560px
  display: flex
  align-items: center
  overflow: hidden
  border-radius: 10px
.arounder
  width: auto
  display: flex
  transition: transform 0.5s ease-in-out
  align-items: center

.leftArrow
  width: 40px
  height: 40px
  background: rgba(73, 69, 79, 0.32)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  font-size: 15px
  text-align: center

.rightArrow
  width: 40px
  height: 40px
  background: rgba(73, 69, 79, 0.32)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  font-size: 15px
  text-align: center