@import "app/styles/abstracts/variables"

.dnd
  width: fit-content
  height: fit-content
  z-index: 100
  position: relative

.class
  width: fit-content
  height: fit-content
  padding: 1rem 1.5rem
  font-size: 1.8rem
  border-radius: 5px
  background-color: $btn-gennis
  color: white
  cursor: grab

