
.filter
  display: flex
  flex-direction: column
  gap: 3rem
  width: 500px
  align-items: center
  padding: 3rem

  //&__title
    ali

  &__container
    display: flex
    flex-direction: column
    gap: 2rem
    font-size: 1.6rem

  &__select
    width: 100% !important

  &__age
    display: flex
    gap: 2rem

  &__input
    width: 200px !important
    margin: 0 !important
  //padding: 0 !important

  &__status
    display: flex
    gap: 3rem
    justify-content: center

  &__inner
    display: flex
    align-items: center
    gap: .5rem
    color: #22C55E

  &__radio
    margin: 0 !important
    color: #22C55E !important

  .yellow
    color: #EAB308 !important

  .red
    color: #F43F5E !important

  &__switch
    display: flex
    justify-content: space-between
    align-items: center

.header__selected
  display: flex
  gap: 2rem

.header__item
  background-color: #F3F3F3
  display: flex
  justify-content: center
  align-items: center
  text-transform: capitalize
  //padding: 10px 20px 10px 20px
  border-radius: 10px
  font-size: 1.4rem
  gap: 1rem
  width: 90px
  height: 25px

.cardSelect
  width: 480px
  display: flex
  border-radius: 10px
.changerButton
  display: flex
  align-self: end
