@import "app/styles/abstracts/variables"
.group
  width: 400px
  font-size: 1.6rem
  overflow: hidden
  height: 210px

.groupText
  height: 20px
  z-index: 1
  &_text
    padding: 6px
    color: $white-main-color
    border-radius: 10px
    font-size: 19px
    background: $btn-switch-center
.cardBg
  position: absolute
  right: 0
  width: 150px
  top: 4px

.groupList
  width: 100%
  height: auto
  gap: 20px
  justify-content: space-between
  display: flex
  z-index: 1

  .leftGroup
    width: 48%
    height: 100%
    display: flex
    flex-direction: column
    gap: 25px
    .lists
      display: flex
      justify-content: space-between
      .list_title
        font-size: 18px
        font-weight: 400
      .list_number
        font-size: 18px
        color: $btn-switch-center-gr
  .groupImgBox
    width: 40%
    height: 100%
    //background: red
    display: flex
    align-items: center
    justify-content: center
    margin-top: -20px
    .circleImg
      width: 145px
      height: 145px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      border: 10px solid $color-border
      .groupImage
        width: 125px
.groupsContainer
  width: 110rem
  display: flex
  flex-wrap: wrap
  //display: grid
  grid-gap: 2rem
  //background: red











