.createGroup
  display: flex
  flex-direction: column
  gap: 2rem
  &Title
    h2
      font-size: 2rem
  &Input
    width: 25rem!important
  &Form
    &Filter
      display: flex
      gap: 2rem
    &Item
      width: 53rem!important
    form
      display: flex
      flex-direction: column
      gap: 2rem

    select
      width: 52rem