.calendarHeader
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  color: #001B61
  h1
    font-size: 2.4rem
  &__btn
    align-self: flex-end
  &__title
    display: flex
    gap: 1rem
    font-size: 1.6rem
    align-items: center
    i
      font-size: 2rem