.imageEdit
  display: flex
  flex-direction: column
  gap: 3rem
  .image

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 2rem
    &__container
      background: #D1D5DB
      display: flex
      align-items: center
      justify-content: center
      min-width: 467px
      min-height: 177px
    .textarea
      width: 31.3rem
    i
      font-size: 4rem
  &__btns
    display: flex
    justify-content: space-between
  &__btn
    display: flex
    justify-content: space-between
    &_mini
      display: flex
    &_add
      background: rgba(18, 22, 128, 1)
    &_cancel
      background: rgba(229, 231, 255, 1)
      color: rgba(18, 22, 128, 1)
    &_delete
      background: rgba(244, 63, 94, 1)
      color: rgba(231, 231, 231, 1)
      font-size: 1.4rem