.header
  height: 110px
  width: 100%
  z-index: 200
  background-color: white
  display: flex
  justify-content: space-around
  align-items: center
  position: fixed
  top: 0
  &__menu
    width: 80%
    display: flex
    justify-content: space-between
    align-items: center

  &__menuInner
    width: 100%
    display: flex
    justify-content: space-between

  &__menuItems
    width: 80%
    display: flex
    justify-content: space-around
    align-items: center
    list-style: none
    color: #686868
    cursor: pointer

  &__item
    border-bottom: 2px solid #FFFFFF
    transition: .5s
    font-size: 1.8rem

    &.active
      color: #0098DA
      border-bottom: 2px solid #0098DA

    &:hover
      color: #0098DA
      border-bottom: 2px solid #0098DA

  &__hamburger
    display: none

  &__button
    width: 180px
    height: 45px
    border-radius: 10px
    color: #FFFFFF
    background-image: linear-gradient(to right, #0098DA, #00C2FF)
    font-size: 1.8rem
    border: none

  &__icon
    font-size: 3.6rem
    color: black
@media (max-width: 1300px)
  .header
    &__item
      font-size: 1.6rem
@media (max-width: 1120px)
  .header
    &__item
      font-size: 1.4rem
@media (max-width: 1200px)
  .header
    &__item
      font-size: 1.3rem
@media (max-width: 1024px)
  .header
    height: 70px
    justify-content: space-between


    &__menu
      background-color: rgba(0, 0, 0, 0.4)
      width: 100%
      height: 91.5vh
      position: absolute
      bottom: -91.5vh
      transition: .5s
      left: 0
      visibility: hidden
      opacity: 0

      &.active
        opacity: 1
        visibility: visible

    &__menuInner
      background-color: #ffffff
      height: 100%
      width: 300px
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      border-top: 2px solid black
      position: absolute
      left: -200%
      transition: .5s

      &.active
        left: 0

    &__menuItems
      flex-direction: column
      height: 80%

    &__item
      font-size: 1.2rem

    &__logo
      background-color: white

    &__hamburger
      display: flex
      padding: 20px


@media (max-width: 768px)
  .header
    width: 100%

    transition: .5s

    &.active
      background-color: rgba(0, 0, 0, 0.4)
      //visibility: visible

    &__hamburger
      display: flex



    &__menu
      background-color: rgba(255, 255, 255, 0.4)
      width: 100%
      position: fixed
      height: 100%
      backdrop-filter: blur(5px)
      //left: -100%
      top: 0
      //visibility: visible
      opacity: 1

      &.active
        left: 0
    &__menuInner
      border-top: none
      background: none
      width: 100%
    &__logo
      background: none


    &__item
      width: 150px
      height: 35px
      //background-color: white
      border-radius: 10px
      display: flex
      justify-content: center
      align-items: center
      font-size: 2rem
      border-bottom: none
      &.active
        border: none
      &:hover
        border-bottom: none
    &__logo
      padding: 20px
      border-radius: 10px

    &__menuItems
      height: 100%
@media (max-width: 430px)
  .header


    height: 50px
    //background: none
    &__hamburger
      display: flex

      border-radius: 50%
      i
        font-size: 2.4rem

    &__menu
      width: 100%
