@import "app/styles/abstracts/variables"


@keyframes ldio-ow3cspdrzfh
  0%
    transform: translate(-50%,-50%) rotate(0deg)
  100%
    transform: translate(-50%,-50%) rotate(360deg)

.loader
  width: 100%
  height: 100vh
  background-color: rgba(0, 0, 0, 0.36)
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  z-index: 100000
  top: 0
  left: 0
  right: 0
  bottom: 0
  color: #0EA5E9
  transition: all .5s
  .loader__wrapper
     div
      position: absolute
      width: 40px
      height: 40px
      border: 3px solid #ffffff
      border-top-color: transparent
      border-radius: 50%

  .loader__wrapper
    &> div
      animation: ldio-ow3cspdrzfh 1s linear infinite
      top: 100px
      left: 100px

  .spinner
    width: 200px
    height: 200px
    display: inline-block
    overflow: hidden
  .loader__wrapper
    width: 100%
    height: 100%
    position: relative
    transform: translateZ(0) scale(1)
    backface-visibility: hidden
    transform-origin: 0 0

  .loader__wrapper > div
    box-sizing: content-box











.defaultLoader

  height: 100%
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  left: 50%
  top: 0
  overflow: hidden

@keyframes ldio-m7pi7b0af7e
  0%
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    transform: translate(-50%,-50%) rotate(360deg)

.defaultLoader_box div
  position: absolute
  width: 100px
  height: 100px
  border: 12px solid $color-main-dark
  border-top-color: transparent
  border-radius: 50%

.defaultLoader_box div
  animation: ldio-m7pi7b0af7e 1s linear infinite
  top: 100px
  left: 100px

.loadingio_spinner_rolling_fu80w05cx7e
  display: inline-block
  overflow: hidden
  background: none

.defaultLoader_box
  width: 200px
  height: 200px
  position: relative
  transform: translateZ(0) scale(1)
  backface-visibility: hidden
  transform-origin: 0 0 /* see note above */



.defaultLoader_boxSmall div
  position: absolute
  width: 30px
  height: 30px
  border: 4px solid $color-main-dark
  border-top-color: transparent
  border-radius: 50%

.defaultLoader_boxSmall div
  animation: ldio-m7pi7b0af7e 1s linear infinite
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

.loadingio_spinner_rolling_fu80w05cx7e
  display: inline-block
  overflow: hidden
  background: none

.defaultLoader_boxSmall
  width: 50px
  height: 50px
  position: relative
  transform: translateZ(0) scale(1)
  backface-visibility: hidden
  transform-origin: 0 0 /* see note above */