@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Risque&family=Space+Grotesk:wght@300..700&display=swap')

@import "app/styles/abstracts/mixins"
.school
  //height: 100dvh
  gap: 2rem
  display: flex
  padding: 10rem
  flex-direction: column
  background-repeat: no-repeat
  background-size: cover

  align-items: center
  .title
    color: #ffffff
    font-size: 5rem
    font-weight: bolder
  .mainFormBox
    display: flex
    align-items: center
    justify-content: center
    gap: 2rem
    flex-wrap: wrap
    .descr
      color: white
      //width: 37%
      font-family: "Blinker", sans-serif
      font-weight: 600
      text-align: center
      font-size: 3.2rem
    .mainRightBox
      background-color: #FFFFFF
      padding: 3rem
      border-radius: 10px
      display: flex
      flex-direction: column
      gap: 2rem
      justify-content: center
      align-items: center
      h1
        color: rgba(0, 27, 97, 1)
        text-align: center
      textarea
        height: 6rem!important
      .inputMsg
        margin-bottom: 10px!important
        border: none!important
        outline: none
      hr
        margin-bottom: 10px!important