.capitalInfo
  &__wrapper
    .capitalBox
      display: flex
      //align-items: center
      width: fit-content
      padding: 1rem 3rem
      gap: 2rem
      &_img
        img
          width: 40rem
          object-fit: cover
      &Info
        display: flex
        gap: 1rem
        flex-direction: column
        & > div
          text-transform: capitalize
          font-size: 3rem
        & > span
          font-size: 1.8rem
  &__btn
    display: flex
    gap: 1rem
    width: 30rem
    flex-wrap: wrap