.mainWorkBox
  width: 100%
  height: 100rem
  background-size: cover !important
  background-repeat: no-repeat
  display: flex
.gallery
  width: 100%

  padding: 5rem 10rem
  display: flex
  justify-content: end
  flex-direction: column
  gap: 5rem
  &__title
    font-size: 3.2rem
    color: #fff
    font-weight: lighter

  &__container
    display: flex
    justify-content: center
    gap: 3rem
    flex-wrap: wrap
    .item
      max-width: 36rem
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      gap: 2rem
      //padding: 1rem
      border-radius: 1rem
      overflow: hidden
      position: relative
      box-shadow: 0 4px 8px 0 #0000001A, 0 14px 14px 0 #00000017, 0 32px 19px 0 #0000000D, 0 56px 23px 0 #00000003, 0 88px 25px 0 #00000000
      &:hover .item__text
        top: 0
      &__title
        font-size: 3.2rem
        color: #001B61

        &.active
          color: white
      &__text
        font-size: 1.6rem
        position: absolute
        top: -100%
        background: #001B61
        padding: 3rem
        height: 100%
        align-items: center
        justify-content: center
        display: flex
        color: white
        transition: .4s ease-in
.itemMain
  width: 100%
  height: fit-content
  padding: 5rem
  //background: #001B61
  .container
    width: 100%
    padding: 5rem 10rem
    flex-wrap: wrap
    gap: 20rem !important
    //display: flex
    //display: flex
    //align-items: center
    //justify-content: center
    //flex-direction: column
    .sliderBox
      //width: 22rem !important
      background: #fff
      padding: 2rem 2rem
      width: 90% !important
      text-align: center
      display: flex !important
      gap: 2rem
      align-items: center !important
      flex-direction: column
      .imgBox
        width: 80%

.gallery__titles
  font-size: 3.2rem
  color: #fff
  font-weight: bold

//.container
//  width: 170rem
//  display: flex
//  flex-direction: column
//  //background: red
//  gap: 10px
//  padding: 3rem
//  justify-content: space-around
//.sliderBox
//  width: 80% !important
//  height: 340px
//  background: white
//  text-align: center
//  display: flex !important
//  justify-content: center
//  align-items: center
//  flex-direction: column
//  gap: 3rem
//  h2
//    color: #001B61
//    font-weight: bold
//    font-size: 3.2rem
//
//@media (max-width: 1024px)
//  .gallery
//    padding: 5rem
//    &__container
//      gap: 2rem
//      .item
//        padding: 2.3rem
//        &__title
//          font-size: 2.6rem
//        &__text
//          font-size: 1.5rem
//  .container
//    width: 78rem
//  .sliderBox
//    height: 300px
//  .imgBox
//    wid
@media (max-width: 768px)
  .container
    padding: 4rem 0 !important
  .sliderBox
    width: 43rem !important

@media (max-width: 480px)
  .itemMain
    padding: 0
  .sliderBox
    width: 45rem

  //.sliderBox
  //  width: 40rem !important
  //  height: 34rem !important
  //.container
  //  padding: 0 0
  //  background: red !important
  //  width: 35rem !important
