@import "app/styles/abstracts/variables"

.addModal
  display: flex
  flex-direction: column
  gap: 3rem
  h2
    font-size: 2rem
  select
    width: 45rem
  button
    align-self: flex-end
    //@include btn-active
    transition: .1s
  img
    width: 5rem
  &__container
    min-width: 70rem
    width: fit-content
    max-height: 50rem
    overflow: auto
    &::-webkit-scrollbar
      width: .7rem

    &::-webkit-scrollbar-track
      border-radius: .4rem
      box-shadow: inset 0 0 5px $color-grey-dark

    &::-webkit-scrollbar-thumb
      border-radius: .4rem
      background: #797979

    &::-webkit-scrollbar-thumb:hover
      background: $color-grey-dark
  &__subject
    width: 15rem
    background: #DCFCE7
    border: 1.23px solid #22C55E
    padding: 2.45px 9.82px 2.45px 9.82px
    text-align: center
    border-radius: 61.35px
  .check
    display: flex
    align-items: center
    gap: 2rem
    &__input
      margin: 0 !important
    .status
      display: flex
      align-items: center
      justify-content: center
      width: 30px
      height: 30px
      border-radius: 50%
      background-color: rgba(255, 0, 0, 0.37)
      &.active
        background-color: rgba(36, 255, 0, 0.37)

      &__inner
        border-radius: 50%
        transform: translate(0.5px)
        width: 15px
        height: 15px
        background-color: #ff0000
        &.active
          background-color: #24FF00
  &__btn
    align-self: flex-end