.overalMain
  width: fit-content
  padding: 3rem
  border-radius: 10px
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
  font-weight: bold
  font-size: 1.8rem
  color: #6B7280
  margin: 0 auto

.overal
  display: flex
  justify-content: space-between
  align-items: center
  .inkasatsiya
    align-self: flex-end
  h2
    font-size: 1.8rem
    font-weight: bold
    color: #0EA5E9
    padding-left: 2rem
    text-transform: capitalize


.table
  height: calc(100vh - 47rem)
  overflow: auto