@import "app/styles/abstracts/variables"
.theadBody
  position: sticky
  top: -35px
  height: 70px
.buttonHelper
  width: 40px
  height: 40px
  background: $search-background
  color: $gennis-back-color
  font-size: 9px

.checkBox
  display: flex
  align-items: center
  height: 100%