.createClass
  display: flex
  flex-direction: column
  gap: 2rem
  &__input
    margin: 0 !important
  &__btn
    align-self: flex-end
.createClass__inner
  padding-top: 2rem
  height: calc(100vh - 30rem)
  overflow: auto