.about
  display: flex
  //height: 70vh
  padding: 3rem
  //height: fit-content
  align-items: center
  justify-content: center
  position: relative

  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    gap: 30rem
  &__info
    display: flex
    flex-direction: column
    .icon
      position: absolute
      width: 65px
      height: 65px
      font-size: 25px
      border-radius: 5px
      background-color: gray
      display: flex
      justify-content: center
      align-items: center
      color: white
      top: 30px
      left: 2%
  &__text
    display: flex
    flex-direction: column
    text-transform: capitalize
    gap: 4rem
    padding-left: 5rem

    h1
      font-size: 4rem
      font-weight: 500

    span
      font-weight: 500
      font-size: 18px

      text-transform: none

  &__aside
    .square
    frame
      width: 50%


@media (max-width: 1440px)
  .about
    &__wrapper
      gap: 18rem

    &__text
      h1
        font-size: 3rem

      span
        font-size: 16px

    &__aside

@media (max-width: 1200px)
  .about
    &__wrapper
      gap: 10px

    &__aside

      .square
      div
        width: 550px !important

@media (max-width: 1110px)
  .about
    &__wrapper

      flex-direction: column
      gap: 16rem

    &__text
      justify-content: center
      align-items: center
      padding: 0
      text-align: center

      h1
        font-size: 2.8rem

      span
        font-size: 14px

    &__aside
      .square
      div
        width: 800px !important

@media (max-width: 1020px)
  .about
    &__aside
      .square
      div
        width: 800px !important

@media (max-width: 900px)
  .about
    &__aside
      .square
      div
        width: 700px !important

@media (max-width: 790px)
  .about
    &__aside
      .square
      div
        width: 650px !important

@media (max-width: 690px)
  .about
    &__aside
      .square
      div
        width: 450px !important

@media (max-width: 490px)
  .about
    &__wrapper
      justify-content: center
      align-items: center

    &__text
      margin-top: 10px
      padding: 0

      h1
        font-size: 2.3rem

      span
        text-align: center

    &__aside
      .square
      div
        width: 350px !important