.attendance
  grid-area: attendance
  font-size: 1.6rem
  align-items: center

  &__title
    align-self: flex-start
    display: flex
    flex-direction: column
    gap: .7rem

    p
      color: #9CA3AF

  &__list
    display: flex
    gap: 5rem

    .item
      width: 265px
      display: flex
      flex-direction: column
      padding: 2rem
      gap: 1.5rem
      border-radius: 2.5rem
      background-color: #FFFBDB

      &__action
        width: 100%
        display: flex
        justify-content: space-between

        p
          color: #F43F5E

      &__progress
        width: 50%
        height: 1rem
        border-radius: 3rem
        background-color: #FFE4E6

      &__completed
        height: 100%
        background-color: #F43F5E
        border-radius: 3rem

      &__count
        align-self: flex-end
